{% from 'bootstrap5/nav.html' import render_nav_item %}

<!doctype html>
<html lang="en">
    <head>
        {% block head %}

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="shortcut icon" href="{{ url_for('static',filename='MP-logo.png') }}" type="image/x-icon">
        <link rel="icon" href="{{ url_for('static',filename='MP-logo.png') }}" type="image/x-icon">

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
        {% endblock %}

        <title>{% block title %}Your page title{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="navbar-nav mr-auto">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                    <img src="{{ url_for('static',filename='MP-logo.png') }}" alt="" width="30" height="30" class="d-inline-block align-text-middle">Flasky
                </a>
                {{ render_nav_item('index', 'Home') }}
                {{ render_nav_item('user', 'User', name="there") }}
            </div>
        </nav>
        <!-- Your page content -->
        {% block content %}{% endblock %}

        {% block scripts %}
            <!-- Optional JavaScript -->
            {{ bootstrap.load_js() }}
            {{ moment.include_moment() }}
        {% endblock %}
    </body>
</html>